#variáveis considerando a instância postgres que iremos criar na etapa 5 do README do projeto. Caso já tenha uma instância, altere as variáveis!

DATABASE_USERNAME=postgres
DATABASE_PASSWORD=eurofarma123
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=eurofarma